<%# The Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } 
%>

<%# The Content%>
<% if (content) { %>
    <div>
        <%- content %>
    </div>
<% } else { %>
    <p>No vehicle details available.</p>
<% } %>
